.inline-element {
display: inline;
background-color: aqua;
padding: 5px;
}
.inline-block-element {
    display: inline-block;
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
    margin-right: 10px;
    width: 140px;
}

.box{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-color: brown;
}

.box:nth-child(odd) {
    background-color: burlywood;
}

.box:nth-child(even) {
    background-color: rgb(0, 0, 0);
}